In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_json("../goodreads_reviews_spoiler.json", lines=True)

In [3]:
df.head()

,user_id,timestamp,review_sentences,rating,has_spoiler,book_id,review_id
0,8842281e1d1347389f2ab93d60773d4d,2017-08-30,"[[0, This is a special book.], [0, It started ...",5,True,18245960,dfdbb7b0eb5a7e4c26d59a937e2e5feb
1,8842281e1d1347389f2ab93d60773d4d,2017-03-22,"[[0, Recommended by Don Katz.], [0, Avail for ...",3,False,16981,a5d2c3628987712d0e05c4f90798eb67
2,8842281e1d1347389f2ab93d60773d4d,2017-03-20,"[[0, A fun, fast paced science fiction thrille...",3,True,28684704,2ede853b14dc4583f96cf5d120af636f
3,8842281e1d1347389f2ab93d60773d4d,2016-11-09,"[[0, Recommended reading to understand what is...",0,False,27161156,ced5675e55cd9d38a524743f5c40996e
4,8842281e1d1347389f2ab93d60773d4d,2016-04-25,"[[0, I really enjoyed this book, and there is ...",4,True,25884323,332732725863131279a8e345b63ac33e

In [4]:
df2 = df.drop(columns = ["user_id", "timestamp", "rating", "has_spoiler"])

In [5]:
train_df1, test_df = train_test_split(df2, test_size=0.2, random_state=0)
train_df, val_df = train_test_split(train_df1, test_size=0.25, random_state=0)

In [6]:
print(train_df.shape[0]/len(df2))
print(val_df.shape[0]/len(df2))
print(test_df.shape[0]/len(df2))

0.5999994194623787
0.2000002902688107
0.2000002902688107

In [7]:
train_df = train_df.explode("review_sentences")
train_df["id"] = train_df.reset_index().index
train_df

,review_sentences,book_id,review_id,id
666103,"[0, For me, this book started off as just anot...",17984141,1810fe3e654cd943c6f4a965a39761e1,0
666103,"[0, Adelina is probably the first protagonist ...",17984141,1810fe3e654cd943c6f4a965a39761e1,1
666103,"[0, That darkness she has inside of her is ser...",17984141,1810fe3e654cd943c6f4a965a39761e1,2
666103,"[0, That being said, I definitely recommend th...",17984141,1810fe3e654cd943c6f4a965a39761e1,3
666103,"[0, SPOILERS!]",17984141,1810fe3e654cd943c6f4a965a39761e1,4
...,...,...,...,...
545743,"[1, I also believed that Phoebe should have be...",6651365,6a69d03bbf8fcc400714b3a6e28ab237,10611847
545743,"[0, I really really liked that Dan had a reall...",6651365,6a69d03bbf8fcc400714b3a6e28ab237,10611848
545743,"[0, I liked that both characters had obvious f...",6651365,6a69d03bbf8fcc400714b3a6e28ab237,10611849
545743,"[0, I also really liked how this book was base...",6651365,6a69d03bbf8fcc400714b3a6e28ab237,10611850
545743,"[0, Totally reading on in this story.]",6651365,6a69d03bbf8fcc400714b3a6e28ab237,10611851

In [8]:
train_df2 = pd.DataFrame(train_df['review_sentences'].to_list(), columns = ["label", "sentence"])
train_df2["id"] = train_df2.reset_index().index
train_df2

          label                                           sentence        id
0             0  For me, this book started off as just another ...         0
1             0  Adelina is probably the first protagonist I've...         1
2             0  That darkness she has inside of her is serious...         2
3             0  That being said, I definitely recommend this b...         3
4             0                                          SPOILERS!         4
...         ...                                                ...       ...
10611847      1  I also believed that Phoebe should have been m...  10611847
10611848      0  I really really liked that Dan had a really ba...  10611848
10611849      0  I liked that both characters had obvious flaws...  10611849
10611850      0  I also really liked how this book was based in...  10611850
10611851      0                  Totally reading on in this story.  10611851

[10611852 rows x 3 columns]

In [9]:
train_data = train_df.merge(train_df2, on = "id")
train_data = train_data.drop(columns = "review_sentences")
train_data

,book_id,review_id,id,label,sentence
0,17984141,1810fe3e654cd943c6f4a965a39761e1,0,0,"For me, this book started off as just another ..."
1,17984141,1810fe3e654cd943c6f4a965a39761e1,1,0,Adelina is probably the first protagonist I've...
2,17984141,1810fe3e654cd943c6f4a965a39761e1,2,0,That darkness she has inside of her is serious...
3,17984141,1810fe3e654cd943c6f4a965a39761e1,3,0,"That being said, I definitely recommend this b..."
4,17984141,1810fe3e654cd943c6f4a965a39761e1,4,0,SPOILERS!
...,...,...,...,...,...
10611847,6651365,6a69d03bbf8fcc400714b3a6e28ab237,10611847,1,I also believed that Phoebe should have been m...
10611848,6651365,6a69d03bbf8fcc400714b3a6e28ab237,10611848,0,I really really liked that Dan had a really ba...
10611849,6651365,6a69d03bbf8fcc400714b3a6e28ab237,10611849,0,I liked that both characters had obvious flaws...
10611850,6651365,6a69d03bbf8fcc400714b3a6e28ab237,10611850,0,I also really liked how this book was based in...
10611851,6651365,6a69d03bbf8fcc400714b3a6e28ab237,10611851,0,Totally reading on in this story.

In [10]:
val_df = val_df.explode("review_sentences")
val_df["id"] = val_df.reset_index().index
val_df

,review_sentences,book_id,review_id,id
506758,"[0, I absolutely loved Tangled by Emma Chase.]",17977710,d87f1153f414eccdb1fdcd7b0aeee628,0
506758,"[0, Drew Evans is one of the most hilarious an...",17977710,d87f1153f414eccdb1fdcd7b0aeee628,1
506758,"[0, So I was elated to see that we would get m...",17977710,d87f1153f414eccdb1fdcd7b0aeee628,2
506758,"[0, ""...I can't live without you, Kate.]",17977710,d87f1153f414eccdb1fdcd7b0aeee628,3
506758,"[0, I don't even know how to try.""]",17977710,d87f1153f414eccdb1fdcd7b0aeee628,4
...,...,...,...,...
614843,"[0, That said, Crossed did provoke vivid dream...",9794437,d29f7223c87d790e9dd531abe2592684,3531850
614843,"[0, I also uncovered information baled like st...",9794437,d29f7223c87d790e9dd531abe2592684,3531851
614843,"[0, So I guess the vivid descriptions of the r...",9794437,d29f7223c87d790e9dd531abe2592684,3531852
61720,"[0, When Death is the narrator and the setting...",19063,fcacb8f4cdad15bee3e926b7e4a5c142,3531853
61720,"[0, However sad it may be, it also leaves you ...",19063,fcacb8f4cdad15bee3e926b7e4a5c142,3531854

In [11]:
val_df2 = pd.DataFrame(val_df['review_sentences'].to_list(), columns = ["label", "sentence"])
val_df2["id"] = val_df2.reset_index().index
val_df2

         label                                           sentence       id
0            0          I absolutely loved Tangled by Emma Chase.        0
1            0  Drew Evans is one of the most hilarious and ch...        1
2            0  So I was elated to see that we would get more ...        2
3            0                "...I can't live without you, Kate.        3
4            0                     I don't even know how to try."        4
...        ...                                                ...      ...
3531850      0  That said, Crossed did provoke vivid dreams of...  3531850
3531851      0     I also uncovered information baled like straw.  3531851
3531852      0  So I guess the vivid descriptions of the remai...  3531852
3531853      0  When Death is the narrator and the setting is ...  3531853
3531854      0  However sad it may be, it also leaves you with...  3531854

[3531855 rows x 3 columns]

In [12]:
val_data = val_df.merge(val_df2, on = "id")
val_data = val_data.drop(columns = "review_sentences")
val_data

,book_id,review_id,id,label,sentence
0,17977710,d87f1153f414eccdb1fdcd7b0aeee628,0,0,I absolutely loved Tangled by Emma Chase.
1,17977710,d87f1153f414eccdb1fdcd7b0aeee628,1,0,Drew Evans is one of the most hilarious and ch...
2,17977710,d87f1153f414eccdb1fdcd7b0aeee628,2,0,So I was elated to see that we would get more ...
3,17977710,d87f1153f414eccdb1fdcd7b0aeee628,3,0,"""...I can't live without you, Kate."
4,17977710,d87f1153f414eccdb1fdcd7b0aeee628,4,0,"I don't even know how to try."""
...,...,...,...,...,...
3531850,9794437,d29f7223c87d790e9dd531abe2592684,3531850,0,"That said, Crossed did provoke vivid dreams of..."
3531851,9794437,d29f7223c87d790e9dd531abe2592684,3531851,0,I also uncovered information baled like straw.
3531852,9794437,d29f7223c87d790e9dd531abe2592684,3531852,0,So I guess the vivid descriptions of the remai...
3531853,19063,fcacb8f4cdad15bee3e926b7e4a5c142,3531853,0,When Death is the narrator and the setting is ...
3531854,19063,fcacb8f4cdad15bee3e926b7e4a5c142,3531854,0,"However sad it may be, it also leaves you with..."

In [13]:
test_df = test_df.explode("review_sentences")
test_df["id"] = test_df.reset_index().index
test_df

,review_sentences,book_id,review_id,id
975930,"[0, Rating: 3.75/5]",17611022,ea632c29b9eb91e934ba426c84aac8f9,0
975930,"[0, Review coming soon!]",17611022,ea632c29b9eb91e934ba426c84aac8f9,1
1299680,"[0, Full disclosure: I skipped the fanfiction ...",23734628,e38ddd72391fbd83225ddc739fc4beb4,2
1299680,"[0, So the odds of me liking this book were no...",23734628,e38ddd72391fbd83225ddc739fc4beb4,3
1299680,"[0, There are a lot of ifs about this one to m...",23734628,e38ddd72391fbd83225ddc739fc4beb4,4
...,...,...,...,...
26736,"[0, Sensual, intense, extremely hot, eyewateri...",18106529,b0d2d0d1d597aa720948f62e24af9742,3528943
26736,"[0, It is not a science fiction - don't get me...",18106529,b0d2d0d1d597aa720948f62e24af9742,3528944
26736,"[0, Absolutely f*ing-tastic!]",18106529,b0d2d0d1d597aa720948f62e24af9742,3528945
26736,"[0, ***I'd like to thank Kelly, my greek GR fr...",18106529,b0d2d0d1d597aa720948f62e24af9742,3528946
26736,"[0, For the translation and the transcription ...",18106529,b0d2d0d1d597aa720948f62e24af9742,3528947

In [14]:
test_df2 = pd.DataFrame(test_df['review_sentences'].to_list(), columns = ["label", "sentence"])
test_df2["id"] = test_df2.reset_index().index
test_df2

         label                                           sentence       id
0            0                                     Rating: 3.75/5        0
1            0                                Review coming soon!        1
2            0  Full disclosure: I skipped the fanfiction part...        2
3            0  So the odds of me liking this book were not gr...        3
4            0  There are a lot of ifs about this one to me - ...        4
...        ...                                                ...      ...
3528943      0    Sensual, intense, extremely hot, eyewatering...  3528943
3528944      0  It is not a science fiction - don't get me wro...  3528944
3528945      0                           Absolutely f*ing-tastic!  3528945
3528946      0    ***I'd like to thank Kelly, my greek GR friend!  3528946
3528947      0  For the translation and the transcription of t...  3528947

[3528948 rows x 3 columns]

In [15]:
test_data = test_df.merge(test_df2, on = "id")
test_data = test_data.drop(columns = "review_sentences")
test_data

,book_id,review_id,id,label,sentence
0,17611022,ea632c29b9eb91e934ba426c84aac8f9,0,0,Rating: 3.75/5
1,17611022,ea632c29b9eb91e934ba426c84aac8f9,1,0,Review coming soon!
2,23734628,e38ddd72391fbd83225ddc739fc4beb4,2,0,Full disclosure: I skipped the fanfiction part...
3,23734628,e38ddd72391fbd83225ddc739fc4beb4,3,0,So the odds of me liking this book were not gr...
4,23734628,e38ddd72391fbd83225ddc739fc4beb4,4,0,There are a lot of ifs about this one to me - ...
...,...,...,...,...,...
3528943,18106529,b0d2d0d1d597aa720948f62e24af9742,3528943,0,"Sensual, intense, extremely hot, eyewatering..."
3528944,18106529,b0d2d0d1d597aa720948f62e24af9742,3528944,0,It is not a science fiction - don't get me wro...
3528945,18106529,b0d2d0d1d597aa720948f62e24af9742,3528945,0,Absolutely f*ing-tastic!
3528946,18106529,b0d2d0d1d597aa720948f62e24af9742,3528946,0,"***I'd like to thank Kelly, my greek GR friend!"
3528947,18106529,b0d2d0d1d597aa720948f62e24af9742,3528947,0,For the translation and the transcription of t...

In [16]:
print(train_data["label"].value_counts() / len(train_data))
print(val_data["label"].value_counts() / len(val_data))
print(test_data["label"].value_counts() / len(test_data))

0    0.96761
1    0.03239
Name: label, dtype: float64
0    0.968128
1    0.031872
Name: label, dtype: float64
0    0.967856
1    0.032144
Name: label, dtype: float64

In [17]:
train_data.to_csv("train.csv", index=False)

In [18]:
val_data.to_csv("valid.csv", index=False)

In [19]:
test_data.to_csv("test.csv", index=False)